<a href="https://colab.research.google.com/github/seeedata/BADA/blob/main/DAB/0708%20%EC%A7%80%ED%95%98%EC%B2%A0%209%ED%98%B8%EC%84%A0%20Data%20Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
sub9_18 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선2-3단계역별일별시간대별승하차인원_20181231.csv', encoding='cp949')
sub9_18.head()

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
0,2018-01-01,9호선,4126,언주,순승차,0,0,0,0,3,...,164,170,172,177,189,137,102,123,87,45
1,2018-01-01,9호선,4126,언주,순하차,2,0,0,0,0,...,153,157,164,194,227,136,172,204,121,101
2,2018-01-02,9호선,4126,언주,순승차,21,0,0,0,0,...,359,420,504,817,1929,1202,536,483,334,152
3,2018-01-02,9호선,4126,언주,순하차,43,0,0,0,0,...,349,332,375,371,421,445,243,259,197,110
4,2018-01-03,9호선,4126,언주,순승차,29,0,0,0,0,...,357,469,543,931,1988,1169,586,509,354,170

In [ ]:
sub9_18 = sub9_18[(sub9_18['역명'] == '한성백제') | (sub9_18['역명'] == '올림픽공원')]
sub9_18

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
5420,2018-12-01,9호선,4135,한성백제,순승차,0,0,0,0,5,...,183,250,228,228,132,89,70,79,82,10
5421,2018-12-01,9호선,4135,한성백제,순하차,0,0,0,0,3,...,194,153,178,201,130,98,67,69,110,56
5422,2018-12-02,9호선,4135,한성백제,순승차,0,0,0,0,0,...,183,158,177,153,66,62,65,63,36,5
5423,2018-12-02,9호선,4135,한성백제,순하차,0,0,0,0,0,...,132,112,121,124,78,73,44,49,53,35
5424,2018-12-03,9호선,4135,한성백제,순승차,3,0,0,0,0,...,112,102,111,111,187,93,57,70,43,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5601,2018-12-30,9호선,4136,올림픽공원,환승하차,0,0,0,0,0,...,217,261,322,301,280,352,1560,652,544,99
5602,2018-12-31,9호선,4136,올림픽공원,순승차,30,267,1,0,0,...,209,224,235,446,290,166,1949,1914,431,608
5603,2018-12-31,9호선,4136,올림픽공원,환승승차,38,38,1,0,0,...,356,338,571,992,490,344,257,371,174,91
5604,2018-12-31,9호선,4136,올림픽공원,순하차,100,35,9,0,0,...,346,427,1407,2431,796,786,405,598,235,139
5605,2018-12-31,9호선,4136,올림픽공원,환승하차,100,102,0,0,0,...,257,353,435,549,533,413,830,1016,350,358

In [ ]:
sub9_19 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선2-3단계역별일별시간대별승하차인원_20191231.csv', encoding='cp949')
sub9_19.head()

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
0,2019-01-01,9호선,4126,언주,순승차,0,0,0,0,0,...,185,201,172,176,220,138,123,120,117,38
1,2019-01-01,9호선,4126,언주,순하차,5,0,0,0,0,...,159,161,199,192,211,177,205,172,188,100
2,2019-01-02,9호선,4126,언주,순승차,39,1,0,0,0,...,443,485,552,1227,2280,1197,642,547,368,141
3,2019-01-02,9호선,4126,언주,순하차,53,1,0,0,0,...,388,368,435,394,571,489,267,231,225,154
4,2019-01-03,9호선,4126,언주,순승차,44,0,0,0,0,...,513,541,643,1150,2320,1191,591,538,383,187

In [ ]:
sub9_19 = sub9_19[(sub9_19['역명'] == '한성백제') | (sub9_19['역명'] == '올림픽공원')]
sub9_19

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
8760,2019-01-01,9호선,4135,한성백제,순승차,0,0,0,0,0,...,56,81,73,75,57,27,51,35,34,2
8761,2019-01-01,9호선,4135,한성백제,순하차,0,0,0,0,0,...,48,50,72,74,81,55,55,32,37,37
8762,2019-01-02,9호선,4135,한성백제,순승차,4,0,0,0,0,...,83,80,107,140,211,84,62,66,41,12
8763,2019-01-02,9호선,4135,한성백제,순하차,29,0,0,0,0,...,89,79,94,103,169,192,95,99,105,53
8764,2019-01-03,9호선,4135,한성백제,순승차,5,0,0,0,1,...,81,109,114,144,186,83,45,62,28,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10945,2019-12-30,9호선,4136,올림픽공원,환승하차,55,0,0,0,0,...,418,555,732,850,1100,621,429,1751,1449,589
10946,2019-12-31,9호선,4136,올림픽공원,순승차,435,139,0,0,21,...,490,610,594,609,569,476,212,2833,5034,267
10947,2019-12-31,9호선,4136,올림픽공원,환승승차,44,51,0,0,0,...,728,840,985,1099,596,522,718,493,455,127
10948,2019-12-31,9호선,4136,올림픽공원,순하차,90,47,4,0,0,...,1779,2644,2452,3307,999,1144,1691,1071,315,162
10949,2019-12-31,9호선,4136,올림픽공원,환승하차,260,120,0,0,0,...,484,648,693,887,959,646,404,1071,1841,238

In [ ]:
sub9_20 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선2-3단계역별일별시간대별승하차인원_20201231.csv', encoding='cp949')
sub9_20.head()

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
0,2020-01-01,9호선,4126,언주,순승차,0,0,0,0,0,...,203,214,198,200,201,156,123,139,101,58
1,2020-01-01,9호선,4126,언주,순하차,5,0,0,0,0,...,152,196,155,241,185,184,195,181,175,110
2,2020-01-02,9호선,4126,언주,순승차,27,0,0,0,0,...,443,530,702,1263,2315,1194,552,522,378,145
3,2020-01-02,9호선,4126,언주,순하차,72,4,0,0,0,...,399,426,370,436,603,460,289,265,202,177
4,2020-01-03,9호선,4126,언주,순승차,45,0,0,0,0,...,534,590,742,1307,2560,1169,599,586,425,203

In [ ]:
sub9_20 = sub9_20[(sub9_20['역명'] == '한성백제') | (sub9_20['역명'] == '올림픽공원')]
sub9_20

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
8784,2020-01-01,9호선,4135,한성백제,순승차,0,0,0,0,0,...,97,98,99,71,83,63,53,38,40,15
8785,2020-01-01,9호선,4135,한성백제,순하차,0,0,0,0,0,...,72,83,92,88,66,68,62,68,69,34
8786,2020-01-02,9호선,4135,한성백제,순승차,4,0,0,0,0,...,120,132,142,181,278,106,70,75,51,19
8787,2020-01-02,9호선,4135,한성백제,순하차,34,0,0,0,0,...,129,97,104,106,264,240,124,108,126,67
8788,2020-01-03,9호선,4135,한성백제,순승차,10,0,0,0,0,...,103,155,159,221,334,105,91,81,47,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,2020-12-30,9호선,4136,올림픽공원,환승하차,0,0,0,0,0,...,251,350,431,632,1010,543,358,330,123,42
10976,2020-12-31,9호선,4136,올림픽공원,순승차,0,0,0,0,0,...,204,201,239,254,213,113,68,87,41,10
10977,2020-12-31,9호선,4136,올림픽공원,환승승차,0,0,0,0,0,...,298,287,311,323,344,222,115,117,49,18
10978,2020-12-31,9호선,4136,올림픽공원,순하차,0,0,0,0,0,...,200,195,244,310,402,263,205,221,98,34
10979,2020-12-31,9호선,4136,올림픽공원,환승하차,0,0,0,0,0,...,327,413,492,625,704,435,251,229,110,34

In [ ]:
sub9_21 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선 2_3단계 역별일별시간대별승하차인원_20211231.csv', encoding='cp949')
sub9_21.head()

,연번,날짜,호선,역번호,역사명,구분,00시-01시,01시-02시,02시-03시,03시-04시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시
0,1,2021-01-01,9,4126,언주,순승차,0,0,0,0,...,90,129,125,124,100,67,90,71,64,11
1,2,2021-01-01,9,4126,언주,순하차,3,0,0,0,...,86,98,91,111,84,74,70,90,46,24
2,3,2021-01-02,9,4126,언주,순승차,0,0,0,0,...,213,237,255,214,162,129,117,117,79,22
3,4,2021-01-02,9,4126,언주,순하차,2,0,0,0,...,190,171,138,173,121,100,108,111,58,30
4,5,2021-01-03,9,4126,언주,순승차,0,0,0,0,...,128,141,137,152,118,103,105,104,67,15

In [ ]:
sub9_21 = sub9_21[(sub9_21['역사명'] == '한성백제') | (sub9_21['역사명'] == '올림픽공원')]
sub9_21

,연번,날짜,호선,역번호,역사명,구분,00시-01시,01시-02시,02시-03시,03시-04시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시
744,745,2021-01-01,9,4135,한성백제,순승차,0,0,0,0,...,50,62,61,44,30,30,17,20,21,5
745,746,2021-01-01,9,4135,한성백제,순하차,2,0,0,0,...,45,36,51,47,32,33,27,25,20,6
746,747,2021-01-02,9,4135,한성백제,순승차,0,0,0,0,...,64,77,59,58,43,23,37,34,17,6
747,748,2021-01-02,9,4135,한성백제,순하차,0,0,0,0,...,63,59,69,79,66,46,37,33,24,17
748,749,2021-01-03,9,4135,한성백제,순승차,0,0,0,0,...,52,56,59,53,25,24,37,13,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10561,10562,2021-12-29,9,4136,올림픽공원,순하차,0,0,0,0,...,220,272,284,375,668,507,322,503,288,76
10562,10563,2021-12-30,9,4136,올림픽공원,순승차,0,0,0,0,...,233,275,388,524,533,180,155,212,108,15
10563,10564,2021-12-30,9,4136,올림픽공원,순하차,0,0,0,0,...,240,289,292,426,682,471,304,512,291,79
10564,10565,2021-12-31,9,4136,올림픽공원,순승차,0,0,0,0,...,289,359,415,387,280,145,146,2298,347,15
10565,10566,2021-12-31,9,4136,올림픽공원,순하차,0,0,0,0,...,387,555,743,1213,1372,376,248,321,201,63

In [ ]:
sub9_21 = sub9_21.drop('연번', axis = 1)
sub9_21

,날짜,호선,역번호,역사명,구분,00시-01시,01시-02시,02시-03시,03시-04시,04시-05시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시
744,2021-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,50,62,61,44,30,30,17,20,21,5
745,2021-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,45,36,51,47,32,33,27,25,20,6
746,2021-01-02,9,4135,한성백제,순승차,0,0,0,0,0,...,64,77,59,58,43,23,37,34,17,6
747,2021-01-02,9,4135,한성백제,순하차,0,0,0,0,0,...,63,59,69,79,66,46,37,33,24,17
748,2021-01-03,9,4135,한성백제,순승차,0,0,0,0,0,...,52,56,59,53,25,24,37,13,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10561,2021-12-29,9,4136,올림픽공원,순하차,0,0,0,0,0,...,220,272,284,375,668,507,322,503,288,76
10562,2021-12-30,9,4136,올림픽공원,순승차,0,0,0,0,0,...,233,275,388,524,533,180,155,212,108,15
10563,2021-12-30,9,4136,올림픽공원,순하차,0,0,0,0,0,...,240,289,292,426,682,471,304,512,291,79
10564,2021-12-31,9,4136,올림픽공원,순승차,0,0,0,0,0,...,289,359,415,387,280,145,146,2298,347,15
10565,2021-12-31,9,4136,올림픽공원,순하차,0,0,0,0,0,...,387,555,743,1213,1372,376,248,321,201,63

In [ ]:
sub9_21.columns = ['날짜', '호선', '역번호', '역명', '구분', '00~01', '01~02', '02~03', '03~04',
       '04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11', '11~12',
       '12~13', '13~14', '14~15', '15~16', '16~17', '17~18', '18~19', '19~20',
       '20~21', '21~22', '22~23', '23~24']
sub9_21

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
744,2021-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,50,62,61,44,30,30,17,20,21,5
745,2021-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,45,36,51,47,32,33,27,25,20,6
746,2021-01-02,9,4135,한성백제,순승차,0,0,0,0,0,...,64,77,59,58,43,23,37,34,17,6
747,2021-01-02,9,4135,한성백제,순하차,0,0,0,0,0,...,63,59,69,79,66,46,37,33,24,17
748,2021-01-03,9,4135,한성백제,순승차,0,0,0,0,0,...,52,56,59,53,25,24,37,13,12,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10561,2021-12-29,9,4136,올림픽공원,순하차,0,0,0,0,0,...,220,272,284,375,668,507,322,503,288,76
10562,2021-12-30,9,4136,올림픽공원,순승차,0,0,0,0,0,...,233,275,388,524,533,180,155,212,108,15
10563,2021-12-30,9,4136,올림픽공원,순하차,0,0,0,0,0,...,240,289,292,426,682,471,304,512,291,79
10564,2021-12-31,9,4136,올림픽공원,순승차,0,0,0,0,0,...,289,359,415,387,280,145,146,2298,347,15
10565,2021-12-31,9,4136,올림픽공원,순하차,0,0,0,0,0,...,387,555,743,1213,1372,376,248,321,201,63

In [ ]:
sub9_22 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선2_3단계 역별일별시간대별승하차인원_20221231.csv', encoding='cp949')
sub9_22.head()

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
0,1,2022-01-01,9,4126,언주,순승차,0,0,0,0,...,218,164,162,168,106,99,117,117,72,17
1,2,2022-01-01,9,4126,언주,순하차,2,0,0,0,...,140,159,135,188,146,105,99,170,84,30
2,3,2022-01-02,9,4126,언주,순승차,0,0,0,0,...,218,244,275,250,197,168,130,143,86,22
3,4,2022-01-02,9,4126,언주,순하차,3,0,0,0,...,210,228,191,218,178,140,165,211,120,48
4,5,2022-01-03,9,4126,언주,순승차,0,0,0,0,...,422,474,633,1544,2549,1168,603,480,218,48

In [ ]:
sub9_22 = sub9_22[(sub9_22['역명'] == '한성백제') | (sub9_22['역명'] == '올림픽공원')]
sub9_22

,연번,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
6570,6571,2022-01-01,9,4135,한성백제,순승차,0,0,0,0,...,102,80,89,66,39,23,46,44,20,5
6571,6572,2022-01-01,9,4135,한성백제,순하차,2,0,0,0,...,71,71,59,84,41,47,30,59,53,15
6572,6573,2022-01-02,9,4135,한성백제,순승차,0,0,0,0,...,67,95,83,70,71,49,54,57,21,4
6573,6574,2022-01-02,9,4135,한성백제,순하차,4,0,0,0,...,108,82,85,86,79,56,47,74,56,27
6574,6575,2022-01-03,9,4135,한성백제,순승차,0,0,0,0,...,88,118,120,158,280,89,76,70,43,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8025,8026,2022-12-29,9,4136,올림픽공원,순하차,103,0,0,0,...,264,319,319,493,720,554,338,349,356,299
8026,8027,2022-12-30,9,4136,올림픽공원,순승차,33,0,0,0,...,374,474,558,549,434,248,3557,619,443,1643
8027,8028,2022-12-30,9,4136,올림픽공원,순하차,118,0,0,0,...,1096,1398,1293,694,1181,1453,361,287,328,237
8028,8029,2022-12-31,9,4136,올림픽공원,순승차,8,3,0,0,...,368,409,594,436,256,174,4850,2786,212,35
8029,8030,2022-12-31,9,4136,올림픽공원,순하차,31,17,7,0,...,1227,2157,2421,1458,240,218,239,233,219,110

In [ ]:
sub9_22 = sub9_22.drop('연번', axis = 1)
sub9_22

,수송일자,호선,고유역번호(외부역코드),역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,04-05시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
6570,2022-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,102,80,89,66,39,23,46,44,20,5
6571,2022-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,71,71,59,84,41,47,30,59,53,15
6572,2022-01-02,9,4135,한성백제,순승차,0,0,0,0,0,...,67,95,83,70,71,49,54,57,21,4
6573,2022-01-02,9,4135,한성백제,순하차,4,0,0,0,0,...,108,82,85,86,79,56,47,74,56,27
6574,2022-01-03,9,4135,한성백제,순승차,0,0,0,0,0,...,88,118,120,158,280,89,76,70,43,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8025,2022-12-29,9,4136,올림픽공원,순하차,103,0,0,0,0,...,264,319,319,493,720,554,338,349,356,299
8026,2022-12-30,9,4136,올림픽공원,순승차,33,0,0,0,0,...,374,474,558,549,434,248,3557,619,443,1643
8027,2022-12-30,9,4136,올림픽공원,순하차,118,0,0,0,0,...,1096,1398,1293,694,1181,1453,361,287,328,237
8028,2022-12-31,9,4136,올림픽공원,순승차,8,3,0,0,0,...,368,409,594,436,256,174,4850,2786,212,35
8029,2022-12-31,9,4136,올림픽공원,순하차,31,17,7,0,0,...,1227,2157,2421,1458,240,218,239,233,219,110

In [ ]:
sub9_22.columns = ['날짜', '호선', '역번호', '역명', '구분', '00~01', '01~02', '02~03', '03~04',
       '04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11', '11~12',
       '12~13', '13~14', '14~15', '15~16', '16~17', '17~18', '18~19', '19~20',
       '20~21', '21~22', '22~23', '23~24']
sub9_22

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
6570,2022-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,102,80,89,66,39,23,46,44,20,5
6571,2022-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,71,71,59,84,41,47,30,59,53,15
6572,2022-01-02,9,4135,한성백제,순승차,0,0,0,0,0,...,67,95,83,70,71,49,54,57,21,4
6573,2022-01-02,9,4135,한성백제,순하차,4,0,0,0,0,...,108,82,85,86,79,56,47,74,56,27
6574,2022-01-03,9,4135,한성백제,순승차,0,0,0,0,0,...,88,118,120,158,280,89,76,70,43,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8025,2022-12-29,9,4136,올림픽공원,순하차,103,0,0,0,0,...,264,319,319,493,720,554,338,349,356,299
8026,2022-12-30,9,4136,올림픽공원,순승차,33,0,0,0,0,...,374,474,558,549,434,248,3557,619,443,1643
8027,2022-12-30,9,4136,올림픽공원,순하차,118,0,0,0,0,...,1096,1398,1293,694,1181,1453,361,287,328,237
8028,2022-12-31,9,4136,올림픽공원,순승차,8,3,0,0,0,...,368,409,594,436,256,174,4850,2786,212,35
8029,2022-12-31,9,4136,올림픽공원,순하차,31,17,7,0,0,...,1227,2157,2421,1458,240,218,239,233,219,110

In [ ]:
sub9_23 = pd.read_csv('/content/drive/MyDrive/colab_data/서울교통공사_9호선 2_3단계 역별일별시간대별승하차인원_20230531.csv', encoding = 'cp949')
sub9_23.head()

,연번,수송일자,호선,역번호,역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
0,1,2023-01-01,9,4126,언주,순승차,0,0,0,0,...,170,215,220,166,136,118,93,98,91,21
1,2,2023-01-01,9,4126,언주,순하차,7,0,0,0,...,154,170,154,180,148,146,176,173,113,84
2,3,2023-01-02,9,4126,언주,순승차,23,0,0,0,...,376,512,766,1706,2732,1216,547,457,340,106
3,4,2023-01-02,9,4126,언주,순하차,41,3,0,0,...,296,344,278,389,502,416,235,213,151,80
4,5,2023-01-03,9,4126,언주,순승차,17,0,0,0,...,420,567,777,1758,2747,1279,664,525,367,130

In [ ]:
sub9_23 = sub9_23[(sub9_23['역명'] == '한성백제') | (sub9_23['역명'] == '올림픽공원')]
sub9_23

,연번,수송일자,호선,역번호,역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
2160,2161,2023-01-01,9,4135,한성백제,순승차,0,0,0,0,...,100,119,98,78,66,53,69,43,25,8
2161,2162,2023-01-01,9,4135,한성백제,순하차,2,0,0,0,...,88,87,66,74,75,82,98,64,55,44
2162,2163,2023-01-02,9,4135,한성백제,순승차,5,0,0,0,...,116,119,137,200,280,112,70,54,26,14
2163,2164,2023-01-02,9,4135,한성백제,순하차,11,0,0,0,...,99,86,105,139,347,289,143,112,85,47
2164,2165,2023-01-03,9,4135,한성백제,순승차,3,0,0,0,...,95,133,161,192,336,117,78,62,34,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,3798,2023-05-29,9,4136,올림픽공원,순하차,26,0,0,0,...,370,386,389,339,318,279,288,251,217,122
3798,3799,2023-05-30,9,4136,올림픽공원,순승차,6,0,0,0,...,333,326,546,618,760,328,325,220,202,56
3799,3800,2023-05-30,9,4136,올림픽공원,순하차,97,0,0,0,...,323,326,361,550,903,709,456,427,420,225
3800,3801,2023-05-31,9,4136,올림픽공원,순승차,3,0,0,0,...,318,397,524,628,753,318,288,281,210,63
3801,3802,2023-05-31,9,4136,올림픽공원,순하차,79,0,0,0,...,305,320,329,546,821,706,510,429,426,248

In [ ]:
sub9_23 = sub9_23.drop('연번', axis = 1)
sub9_23

,수송일자,호선,역번호,역명,승하차구분,00-01시간대,01-02시간대,02-03시간대,03-04시간대,04-05시간대,...,14-15시간대,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대
2160,2023-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,100,119,98,78,66,53,69,43,25,8
2161,2023-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,88,87,66,74,75,82,98,64,55,44
2162,2023-01-02,9,4135,한성백제,순승차,5,0,0,0,0,...,116,119,137,200,280,112,70,54,26,14
2163,2023-01-02,9,4135,한성백제,순하차,11,0,0,0,0,...,99,86,105,139,347,289,143,112,85,47
2164,2023-01-03,9,4135,한성백제,순승차,3,0,0,0,0,...,95,133,161,192,336,117,78,62,34,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,2023-05-29,9,4136,올림픽공원,순하차,26,0,0,0,0,...,370,386,389,339,318,279,288,251,217,122
3798,2023-05-30,9,4136,올림픽공원,순승차,6,0,0,0,0,...,333,326,546,618,760,328,325,220,202,56
3799,2023-05-30,9,4136,올림픽공원,순하차,97,0,0,0,0,...,323,326,361,550,903,709,456,427,420,225
3800,2023-05-31,9,4136,올림픽공원,순승차,3,0,0,0,0,...,318,397,524,628,753,318,288,281,210,63
3801,2023-05-31,9,4136,올림픽공원,순하차,79,0,0,0,0,...,305,320,329,546,821,706,510,429,426,248

In [ ]:
sub9_23.columns = ['날짜', '호선', '역번호', '역명', '구분', '00~01', '01~02', '02~03', '03~04',
       '04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11', '11~12',
       '12~13', '13~14', '14~15', '15~16', '16~17', '17~18', '18~19', '19~20',
       '20~21', '21~22', '22~23', '23~24']
sub9_23

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
2160,2023-01-01,9,4135,한성백제,순승차,0,0,0,0,0,...,100,119,98,78,66,53,69,43,25,8
2161,2023-01-01,9,4135,한성백제,순하차,2,0,0,0,0,...,88,87,66,74,75,82,98,64,55,44
2162,2023-01-02,9,4135,한성백제,순승차,5,0,0,0,0,...,116,119,137,200,280,112,70,54,26,14
2163,2023-01-02,9,4135,한성백제,순하차,11,0,0,0,0,...,99,86,105,139,347,289,143,112,85,47
2164,2023-01-03,9,4135,한성백제,순승차,3,0,0,0,0,...,95,133,161,192,336,117,78,62,34,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,2023-05-29,9,4136,올림픽공원,순하차,26,0,0,0,0,...,370,386,389,339,318,279,288,251,217,122
3798,2023-05-30,9,4136,올림픽공원,순승차,6,0,0,0,0,...,333,326,546,618,760,328,325,220,202,56
3799,2023-05-30,9,4136,올림픽공원,순하차,97,0,0,0,0,...,323,326,361,550,903,709,456,427,420,225
3800,2023-05-31,9,4136,올림픽공원,순승차,3,0,0,0,0,...,318,397,524,628,753,318,288,281,210,63
3801,2023-05-31,9,4136,올림픽공원,순하차,79,0,0,0,0,...,305,320,329,546,821,706,510,429,426,248

In [ ]:
sub9 = pd.concat([sub9_18, sub9_19, sub9_20, sub9_21, sub9_22, sub9_23], axis = 0)
sub9

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
5420,2018-12-01,9호선,4135,한성백제,순승차,0,0,0,0,5,...,183,250,228,228,132,89,70,79,82,10
5421,2018-12-01,9호선,4135,한성백제,순하차,0,0,0,0,3,...,194,153,178,201,130,98,67,69,110,56
5422,2018-12-02,9호선,4135,한성백제,순승차,0,0,0,0,0,...,183,158,177,153,66,62,65,63,36,5
5423,2018-12-02,9호선,4135,한성백제,순하차,0,0,0,0,0,...,132,112,121,124,78,73,44,49,53,35
5424,2018-12-03,9호선,4135,한성백제,순승차,3,0,0,0,0,...,112,102,111,111,187,93,57,70,43,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3797,2023-05-29,9,4136,올림픽공원,순하차,26,0,0,0,0,...,370,386,389,339,318,279,288,251,217,122
3798,2023-05-30,9,4136,올림픽공원,순승차,6,0,0,0,0,...,333,326,546,618,760,328,325,220,202,56
3799,2023-05-30,9,4136,올림픽공원,순하차,97,0,0,0,0,...,323,326,361,550,903,709,456,427,420,225
3800,2023-05-31,9,4136,올림픽공원,순승차,3,0,0,0,0,...,318,397,524,628,753,318,288,281,210,63
3801,2023-05-31,9,4136,올림픽공원,순하차,79,0,0,0,0,...,305,320,329,546,821,706,510,429,426,248

In [ ]:
sub9.to_csv('/content/drive/MyDrive/colab_data/9호선최종데이터.csv', index = False, encoding = 'cp949')